.h{
    margin-left: 20%;
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
 }
 .ht{
     margin-left: 18%;
     padding-top: -10px;
 
 }
 .search{
     width: 100%;
     margin-top: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }
 .input{
     border-radius: 20px;
     background-color: aliceblue;
     padding: 10px;
     color: black;
     width: 400px;
 }
 .logo{
     font-size: 25px;
     margin-right: -12px;
 }
 .bn{
     padding: 10px;
     background-color:rgb(226, 55, 112);
     color: white;
     border-radius: 20px;
     width: 200px;
     font-weight: 600;
 }
 .bn:hover{
     background-color:rgb(177, 13, 68);
     cursor: pointer;
     transition: 1s ease-out;
 }
 .headr{
     margin-top: 50px;
     margin-bottom: 20px;
     margin-left: 40px;
     font-weight: bold;
     font-size: 25px;
 }
 .card{
     height: 280px;
     width: 230px;
     background-color: grey;
     padding: 12px;
     border-radius: 15px;
 }
 .cardcontainer{
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
     align-items: center;
     padding: 30px;
 }


 @media only screen and (max-width: 480px) {
    .h{
        margin-left: 9%;
        margin-top: 100px;
        font-size: 2.2rem;
        font-weight: bold;
     }
     .ht{
         margin-left: -4%;
         padding-top: -10px;
     
     }
     .search{
        width: 100%;
        margin-top: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    .bn{
        margin-left: 100px;
    }
    .cardcontainer{
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 30px;

    }


  }